

body, html, .main {

    height: 100%;
    width: 100%;
  }


#Add_Employee{
   
    background-color:dimgray;
    border: solid;
    height: 100%;

}

.pricing-container {
    box-sizing: border-box;
    border : 2px solid rgb(70, 173, 214);
    border-radius: 5%;
    float: left;
    width: 26%;
    margin-top: -20px;
    margin-left: 90px;
}

#Add_Vehicle{
   
    background-color: chartreuse;
    border: solid;
    height: 100%;
}

#Feedback{
    background-color: darkmagenta;
    border: solid;
    height: 100%;

}

#Pricing{
     background-color: deepskyblue;
     border: solid;
     height: 100%;
     float: inherit;
}

input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
    border-style: initial;
    border-radius: 20px;

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    
  }
  li a {
    display: block;
    color:orangered;
    padding: 8px 16px;
    text-decoration: none;
  }
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

  #Circle{
    border: 1px solid black;
    border-radius: 50%;
    width : 100px;
    height : 70px;
    padding: 5px;
    text-align: center;
}